In [1]:
import pandas as pd

In [2]:
def trimester_to_date(trimester):
    year, quarter = trimester.split('-')
    quarter=quarter[1]
    month = int(quarter) * 3
    return pd.Timestamp(year=int(year), month=month, day=1)

In [3]:
real_gdp =pd.read_csv('global/realgdpoecd.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'global/realgdpoecd.csv'

In [ ]:
real_gdp

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,FREQ,Fréquence d'observation,ADJUSTMENT,Ajustement,REF_AREA,Zone de référence,...,CONF_STATUS,Statut de confidentialité,DECIMALS,Décimales,OBS_STATUS,Statut d'observation,UNIT_MULT,Multiplicateur d'unité,CURRENCY,Monnaie
0,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,A,Annuelle,Y,Corrigé des variations saisonnières et des eff...,SVN,Slovénie,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
1,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,A,Annuelle,Y,Corrigé des variations saisonnières et des eff...,SVN,Slovénie,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
2,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,A,Annuelle,Y,Corrigé des variations saisonnières et des eff...,SVN,Slovénie,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
3,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,A,Annuelle,Y,Corrigé des variations saisonnières et des eff...,SVN,Slovénie,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
4,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,A,Annuelle,Y,Corrigé des variations saisonnières et des eff...,SVN,Slovénie,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135871,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,A,Annuelle,Y,Corrigé des variations saisonnières et des eff...,SVN,Slovénie,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
135872,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,A,Annuelle,Y,Corrigé des variations saisonnières et des eff...,SVN,Slovénie,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
135873,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,A,Annuelle,Y,Corrigé des variations saisonnières et des eff...,SVN,Slovénie,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
135874,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,A,Annuelle,Y,Corrigé des variations saisonnières et des eff...,SVN,Slovénie,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
135875,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,A,Annuelle,Y,Corrigé des variations saisonnières et des eff...,SVN,Slovénie,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable

In [ ]:
real_gdp["Multiplicateur d'unité"].unique()

array(['Units'], dtype=object)

In [ ]:
real_gdp.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'FREQ',
       'Fréquence d'observation', 'ADJUSTMENT', 'Ajustement', 'REF_AREA',
       'Zone de référence', 'SECTOR', 'Secteur institutionnel',
       'COUNTERPART_SECTOR', 'Secteur institutionnel de contrepartie',
       'TRANSACTION', 'Transaction', 'INSTR_ASSET',
       'Instruments financiers et actifs non financiers', 'ACTIVITY',
       'Activité économique', 'EXPENDITURE', 'Dépense', 'UNIT_MEASURE',
       'Unité de mesure', 'PRICE_BASE', 'Type de prix', 'TRANSFORMATION',
       'Transformation', 'TABLE_IDENTIFIER', 'Identifiant de tableau',
       'TIME_PERIOD', 'Période temporelle', 'OBS_VALUE',
       'Valeur d'observation', 'REF_YEAR_PRICE', 'Prix ​​année de référence',
       'BASE_PER', 'Période de base', 'CONF_STATUS',
       'Statut de confidentialité', 'DECIMALS', 'Décimales', 'OBS_STATUS',
       'Statut d'observation', 'UNIT_MULT', 'Multiplicateur d'unité',
       'CURRENCY', 'Monnaie'],
      dtype='object')

In [ ]:
#dropping unimportant columns
real_gdp.drop(columns=["REF_AREA", "OBS_STATUS"], inplace=True)

In [ ]:
for column in real_gdp.columns:
    if (len(real_gdp[column].unique()) <= 1) and (column != "Unité de mesure"):
        real_gdp.drop(columns=[column],inplace=True)

In [ ]:
real_gdp

,FREQ,Fréquence d'observation,Zone de référence,SECTOR,Secteur institutionnel,TRANSACTION,Transaction,ACTIVITY,Activité économique,EXPENDITURE,Dépense,Unité de mesure,TRANSFORMATION,Transformation,TIME_PERIOD,OBS_VALUE,REF_YEAR_PRICE,Statut d'observation
0,A,Annuelle,Slovénie,S1,Economie totale,P6,Exportations de biens et de services,_Z,Non applicable,_Z,Non-applicable,Changement en pourcentage,GY,"Taux de croissance, sur 1 an",1996,2.971844,NaN,Normal value
1,A,Annuelle,Slovénie,S1,Economie totale,P6,Exportations de biens et de services,_Z,Non applicable,_Z,Non-applicable,Changement en pourcentage,GY,"Taux de croissance, sur 1 an",1997,11.634627,NaN,Normal value
2,A,Annuelle,Slovénie,S1,Economie totale,P6,Exportations de biens et de services,_Z,Non applicable,_Z,Non-applicable,Changement en pourcentage,GY,"Taux de croissance, sur 1 an",1998,7.821850,NaN,Normal value
3,A,Annuelle,Slovénie,S1,Economie totale,P6,Exportations de biens et de services,_Z,Non applicable,_Z,Non-applicable,Changement en pourcentage,GY,"Taux de croissance, sur 1 an",1999,2.004500,NaN,Normal value
4,A,Annuelle,Slovénie,S1,Economie totale,P6,Exportations de biens et de services,_Z,Non applicable,_Z,Non-applicable,Changement en pourcentage,GY,"Taux de croissance, sur 1 an",2000,12.592517,NaN,Normal value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135871,A,Annuelle,Slovénie,S1,Economie totale,B1GQ,Produit intérieur brut,_Z,Non applicable,_Z,Non-applicable,Changement en pourcentage,GY,"Taux de croissance, sur 1 an",2019,3.522680,NaN,Normal value
135872,A,Annuelle,Slovénie,S1,Economie totale,B1GQ,Produit intérieur brut,_Z,Non applicable,_Z,Non-applicable,Changement en pourcentage,GY,"Taux de croissance, sur 1 an",2020,-4.240883,NaN,Normal value
135873,A,Annuelle,Slovénie,S1,Economie totale,B1GQ,Produit intérieur brut,_Z,Non applicable,_Z,Non-applicable,Changement en pourcentage,GY,"Taux de croissance, sur 1 an",2021,8.228498,NaN,Normal value
135874,A,Annuelle,Slovénie,S1,Economie totale,B1GQ,Produit intérieur brut,_Z,Non applicable,_Z,Non-applicable,Changement en pourcentage,GY,"Taux de croissance, sur 1 an",2022,2.460784,NaN,Normal value
135875,A,Annuelle,Slovénie,S1,Economie totale,B1GQ,Produit intérieur brut,_Z,Non applicable,_Z,Non-applicable,Changement en pourcentage,GY,"Taux de croissance, sur 1 an",2023,1.586899,NaN,Normal value

In [ ]:
#leave only the trimesters values
real_gdp = real_gdp[real_gdp["FREQ"] == "Q"]
real_gdp.TIME_PERIOD = real_gdp.TIME_PERIOD.apply(lambda x: trimester_to_date(x))

C:\Users\vadim\AppData\Local\Temp\ipykernel_80\1248580636.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  real_gdp.TIME_PERIOD = real_gdp.TIME_PERIOD.apply(lambda x: trimester_to_date(x))

In [ ]:
real_gdp

,FREQ,Fréquence d'observation,Zone de référence,SECTOR,Secteur institutionnel,TRANSACTION,Transaction,ACTIVITY,Activité économique,EXPENDITURE,Dépense,Unité de mesure,TRANSFORMATION,Transformation,TIME_PERIOD,OBS_VALUE,REF_YEAR_PRICE,Statut d'observation
28,Q,Trimestrielle,OCDE Europe,S13,Administrations publiques,P3,Dépense de consommation finale,_Z,Non applicable,_T,Total,Changement en pourcentage,G1,"Taux de croissance, période sur période",1961-06-01,0.644198,NaN,Normal value
29,Q,Trimestrielle,OCDE Europe,S13,Administrations publiques,P3,Dépense de consommation finale,_Z,Non applicable,_T,Total,Changement en pourcentage,G1,"Taux de croissance, période sur période",1961-09-01,1.725270,NaN,Normal value
30,Q,Trimestrielle,OCDE Europe,S13,Administrations publiques,P3,Dépense de consommation finale,_Z,Non applicable,_T,Total,Changement en pourcentage,G1,"Taux de croissance, période sur période",1961-12-01,1.222290,NaN,Normal value
31,Q,Trimestrielle,OCDE Europe,S13,Administrations publiques,P3,Dépense de consommation finale,_Z,Non applicable,_T,Total,Changement en pourcentage,G1,"Taux de croissance, période sur période",1962-03-01,1.613121,NaN,Normal value
32,Q,Trimestrielle,OCDE Europe,S13,Administrations publiques,P3,Dépense de consommation finale,_Z,Non applicable,_T,Total,Changement en pourcentage,G1,"Taux de croissance, période sur période",1962-06-01,1.618299,NaN,Normal value
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135843,Q,Trimestrielle,Pologne,S1,Economie totale,P51G,Formation brute de capital fixe,_T,Total - Toutes les activités,_Z,Non-applicable,Changement en pourcentage,GY,"Taux de croissance, sur 1 an",2022-12-01,4.657891,NaN,Normal value
135844,Q,Trimestrielle,Pologne,S1,Economie totale,P51G,Formation brute de capital fixe,_T,Total - Toutes les activités,_Z,Non-applicable,Changement en pourcentage,GY,"Taux de croissance, sur 1 an",2023-03-01,5.955150,NaN,Normal value
135845,Q,Trimestrielle,Pologne,S1,Economie totale,P51G,Formation brute de capital fixe,_T,Total - Toutes les activités,_Z,Non-applicable,Changement en pourcentage,GY,"Taux de croissance, sur 1 an",2023-06-01,7.388818,NaN,Normal value
135846,Q,Trimestrielle,Pologne,S1,Economie totale,P51G,Formation brute de capital fixe,_T,Total - Toutes les activités,_Z,Non-applicable,Changement en pourcentage,GY,"Taux de croissance, sur 1 an",2023-09-01,8.031019,NaN,Normal value
135847,Q,Trimestrielle,Pologne,S1,Economie totale,P51G,Formation brute de capital fixe,_T,Total - Toutes les activités,_Z,Non-applicable,Changement en pourcentage,GY,"Taux de croissance, sur 1 an",2023-12-01,9.711023,NaN,Normal value

In [ ]:
real_gdp.drop(columns=["FREQ", "Fréquence d'observation", "TRANSACTION", "SECTOR", "REF_YEAR_PRICE",
                        "ACTIVITY", "EXPENDITURE", "TRANSFORMATION"], inplace=True)

C:\Users\vadim\AppData\Local\Temp\ipykernel_80\1889910554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  real_gdp.drop(columns=["FREQ", "Fréquence d'observation", "TRANSACTION", "SECTOR", "REF_YEAR_PRICE",

In [ ]:
real_gdp

,Zone de référence,Secteur institutionnel,Transaction,Activité économique,Dépense,Unité de mesure,Transformation,TIME_PERIOD,OBS_VALUE,Statut d'observation
28,OCDE Europe,Administrations publiques,Dépense de consommation finale,Non applicable,Total,Changement en pourcentage,"Taux de croissance, période sur période",1961-06-01,0.644198,Normal value
29,OCDE Europe,Administrations publiques,Dépense de consommation finale,Non applicable,Total,Changement en pourcentage,"Taux de croissance, période sur période",1961-09-01,1.725270,Normal value
30,OCDE Europe,Administrations publiques,Dépense de consommation finale,Non applicable,Total,Changement en pourcentage,"Taux de croissance, période sur période",1961-12-01,1.222290,Normal value
31,OCDE Europe,Administrations publiques,Dépense de consommation finale,Non applicable,Total,Changement en pourcentage,"Taux de croissance, période sur période",1962-03-01,1.613121,Normal value
32,OCDE Europe,Administrations publiques,Dépense de consommation finale,Non applicable,Total,Changement en pourcentage,"Taux de croissance, période sur période",1962-06-01,1.618299,Normal value
...,...,...,...,...,...,...,...,...,...,...
135843,Pologne,Economie totale,Formation brute de capital fixe,Total - Toutes les activités,Non-applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2022-12-01,4.657891,Normal value
135844,Pologne,Economie totale,Formation brute de capital fixe,Total - Toutes les activités,Non-applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2023-03-01,5.955150,Normal value
135845,Pologne,Economie totale,Formation brute de capital fixe,Total - Toutes les activités,Non-applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2023-06-01,7.388818,Normal value
135846,Pologne,Economie totale,Formation brute de capital fixe,Total - Toutes les activités,Non-applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2023-09-01,8.031019,Normal value
135847,Pologne,Economie totale,Formation brute de capital fixe,Total - Toutes les activités,Non-applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2023-12-01,9.711023,Normal value

In [ ]:
real_gdp["Dépense"]
real_gdp.drop(columns=["Dépense"], inplace=True)

C:\Users\vadim\AppData\Local\Temp\ipykernel_80\864960113.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  real_gdp.drop(columns=["Dépense"], inplace=True)

In [ ]:
real_gdp["Activité économique"].unique()

array(['Non applicable', 'Total - Toutes les activités'], dtype=object)

In [ ]:
real_gdp["Statut d'observation"].unique()
real_gdp.drop(columns=["Statut d'observation"], inplace=True)

C:\Users\vadim\AppData\Local\Temp\ipykernel_80\1136847575.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  real_gdp.drop(columns=["Statut d'observation"], inplace=True)

In [ ]:
real_gdp = real_gdp[real_gdp["Secteur institutionnel"] == "Economie totale"]
real_gdp = real_gdp[real_gdp["Transaction"] == "Produit intérieur brut"]
real_gdp = real_gdp[real_gdp["Transformation"] == "Taux de croissance, sur 1 an"]

real_gdp

,Zone de référence,Secteur institutionnel,Transaction,Activité économique,Unité de mesure,Transformation,TIME_PERIOD,OBS_VALUE
2424,Norvège,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",1961-03-01,5.869164
2425,Norvège,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",1961-06-01,6.768961
2426,Norvège,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",1961-09-01,6.716544
2427,Norvège,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",1961-12-01,5.746506
2428,Norvège,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",1962-03-01,3.916006
...,...,...,...,...,...,...,...,...
135319,Belgique,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2022-12-01,1.375801
135320,Belgique,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2023-03-01,1.675528
135321,Belgique,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2023-06-01,1.307926
135322,Belgique,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2023-09-01,1.376709
135323,Belgique,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2023-12-01,1.484547

In [ ]:
real_gdp.to_csv("global/dataglobal/clean_realgdp.csv")

## real gdp20

In [ ]:
real_gdp20 =pd.read_csv('global/realgdpg20.csv')

In [ ]:
real_gdp20

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,FREQ,Fréquence d'observation,ADJUSTMENT,Ajustement,REF_AREA,Zone de référence,...,CONF_STATUS,Statut de confidentialité,DECIMALS,Décimales,OBS_STATUS,Statut d'observation,UNIT_MULT,Multiplicateur d'unité,CURRENCY,Monnaie
0,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,Q,Trimestrielle,Y,Corrigé des variations saisonnières et des eff...,OECDE,OCDE Europe,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
1,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,Q,Trimestrielle,Y,Corrigé des variations saisonnières et des eff...,OECDE,OCDE Europe,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
2,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,Q,Trimestrielle,Y,Corrigé des variations saisonnières et des eff...,OECDE,OCDE Europe,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
3,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,Q,Trimestrielle,Y,Corrigé des variations saisonnières et des eff...,OECDE,OCDE Europe,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
4,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,Q,Trimestrielle,Y,Corrigé des variations saisonnières et des eff...,OECDE,OCDE Europe,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73375,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,A,Annuelle,Y,Corrigé des variations saisonnières et des eff...,SAU,Arabie saoudite,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
73376,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,A,Annuelle,Y,Corrigé des variations saisonnières et des eff...,SAU,Arabie saoudite,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
73377,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,A,Annuelle,Y,Corrigé des variations saisonnières et des eff...,SAU,Arabie saoudite,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
73378,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,A,Annuelle,Y,Corrigé des variations saisonnières et des eff...,SAU,Arabie saoudite,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable
73379,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GR...,Croissance trimestrielle réelle du PIB - pays ...,I,A,Annuelle,Y,Corrigé des variations saisonnières et des eff...,SAU,Arabie saoudite,...,F,Libre (libre pour publication),1,One,A,Normal value,0,Units,_Z,N'est pas applicable

In [ ]:
real_gdp20["Monnaie"].unique()

array(["N'est pas applicable"], dtype=object)

In [ ]:
real_gdp20.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'FREQ',
       'Fréquence d'observation', 'ADJUSTMENT', 'Ajustement', 'REF_AREA',
       'Zone de référence', 'SECTOR', 'Secteur institutionnel',
       'COUNTERPART_SECTOR', 'Secteur institutionnel de contrepartie',
       'TRANSACTION', 'Transaction', 'INSTR_ASSET',
       'Instruments financiers et actifs non financiers', 'ACTIVITY',
       'Activité économique', 'EXPENDITURE', 'Dépense', 'UNIT_MEASURE',
       'Unité de mesure', 'PRICE_BASE', 'Type de prix', 'TRANSFORMATION',
       'Transformation', 'TABLE_IDENTIFIER', 'Identifiant de tableau',
       'TIME_PERIOD', 'Période temporelle', 'OBS_VALUE',
       'Valeur d'observation', 'REF_YEAR_PRICE', 'Prix ​​année de référence',
       'BASE_PER', 'Période de base', 'CONF_STATUS',
       'Statut de confidentialité', 'DECIMALS', 'Décimales', 'OBS_STATUS',
       'Statut d'observation', 'UNIT_MULT', 'Multiplicateur d'unité',
       'CURRENCY', 'Monnaie'],
      dtype='object')

In [ ]:
for column in real_gdp20.columns:
    if (len(real_gdp20[column].unique()) <= 1) and (column != "Unité de mesure"):
        real_gdp20.drop(columns=[column],inplace=True)
        
real_gdp20.drop(columns=[ "REF_AREA", "OBS_STATUS", "Statut d'observation", "Dépense", "Fréquence d'observation", "TRANSACTION", "SECTOR", "REF_YEAR_PRICE",
                        "ACTIVITY", "EXPENDITURE", "TRANSFORMATION"], inplace=True)

In [ ]:
real_gdp20

,FREQ,Zone de référence,Secteur institutionnel,Transaction,Activité économique,Unité de mesure,Transformation,TIME_PERIOD,OBS_VALUE
0,Q,OCDE Europe,Administrations publiques,Dépense de consommation finale,Non applicable,Changement en pourcentage,"Taux de croissance, période sur période",1961-Q2,0.644198
1,Q,OCDE Europe,Administrations publiques,Dépense de consommation finale,Non applicable,Changement en pourcentage,"Taux de croissance, période sur période",1961-Q3,1.725270
2,Q,OCDE Europe,Administrations publiques,Dépense de consommation finale,Non applicable,Changement en pourcentage,"Taux de croissance, période sur période",1961-Q4,1.222290
3,Q,OCDE Europe,Administrations publiques,Dépense de consommation finale,Non applicable,Changement en pourcentage,"Taux de croissance, période sur période",1962-Q1,1.613121
4,Q,OCDE Europe,Administrations publiques,Dépense de consommation finale,Non applicable,Changement en pourcentage,"Taux de croissance, période sur période",1962-Q2,1.618299
...,...,...,...,...,...,...,...,...,...
73375,A,Arabie saoudite,Economie totale,Importations de biens et de services,Non applicable,Changement en pourcentage,"Taux de croissance, période sur période",2019,9.473359
73376,A,Arabie saoudite,Economie totale,Importations de biens et de services,Non applicable,Changement en pourcentage,"Taux de croissance, période sur période",2020,-19.897070
73377,A,Arabie saoudite,Economie totale,Importations de biens et de services,Non applicable,Changement en pourcentage,"Taux de croissance, période sur période",2021,8.341103
73378,A,Arabie saoudite,Economie totale,Importations de biens et de services,Non applicable,Changement en pourcentage,"Taux de croissance, période sur période",2022,12.426452
73379,A,Arabie saoudite,Economie totale,Importations de biens et de services,Non applicable,Changement en pourcentage,"Taux de croissance, période sur période",2023,9.854934

In [ ]:
real_gdp20["Zone de référence"].unique()

array(['OCDE Europe', 'Brésil', 'Zone euro (20 pays)', 'Russie', 'OCDE',
       'Argentine', 'Mexique', 'Australie', 'Inde', 'G7', 'Türkiye',
       'Allemagne', 'Corée',
       'Union européenne (27 pays à partir du 01/02/2020)', 'France',
       'Afrique du Sud', 'Indonésie', 'Italie', 'ALENA', 'États-Unis',
       'Arabie saoudite', 'Japon', 'Royaume-Uni', 'G20', 'Canada',
       'Chine (République populaire de)'], dtype=object)

In [ ]:
real_gdp20["TIME_PERIOD"].unique()

array(['1961-Q2', '1961-Q3', '1961-Q4', '1962-Q1', '1962-Q2', '1962-Q3',
       '1962-Q4', '1963-Q1', '1963-Q2', '1963-Q3', '1963-Q4', '1964-Q1',
       '1964-Q2', '1964-Q3', '1964-Q4', '1965-Q1', '1965-Q2', '1965-Q3',
       '1965-Q4', '1966-Q1', '1966-Q2', '1966-Q3', '1966-Q4', '1967-Q1',
       '1967-Q2', '1967-Q3', '1967-Q4', '1968-Q1', '1968-Q2', '1968-Q3',
       '1968-Q4', '1969-Q1', '1969-Q2', '1969-Q3', '1969-Q4', '1970-Q1',
       '1970-Q2', '1970-Q3', '1970-Q4', '1971-Q1', '1971-Q2', '1971-Q3',
       '1971-Q4', '1972-Q1', '1972-Q2', '1972-Q3', '1972-Q4', '1973-Q1',
       '1973-Q2', '1973-Q3', '1973-Q4', '1974-Q1', '1974-Q2', '1974-Q3',
       '1974-Q4', '1975-Q1', '1975-Q2', '1975-Q3', '1975-Q4', '1976-Q1',
       '1976-Q2', '1976-Q3', '1976-Q4', '1977-Q1', '1977-Q2', '1977-Q3',
       '1977-Q4', '1978-Q1', '1978-Q2', '1978-Q3', '1978-Q4', '1979-Q1',
       '1979-Q2', '1979-Q3', '1979-Q4', '1980-Q1', '1980-Q2', '1980-Q3',
       '1980-Q4', '1981-Q1', '1981-Q2', '1981-Q3', '1981-Q4', '1982-Q1',
       '1982-Q2', '1982-Q3', '1982-Q4', '1983-Q1', '1983-Q2', '1983-Q3',
       '1983-Q4', '1984-Q1', '1984-Q2', '1984-Q3', '1984-Q4', '1985-Q1',
       '1985-Q2', '1985-Q3', '1985-Q4', '1986-Q1', '1986-Q2', '1986-Q3',
       '1986-Q4', '1987-Q1', '1987-Q2', '1987-Q3', '1987-Q4', '1988-Q1',
       '1988-Q2', '1988-Q3', '1988-Q4', '1989-Q1', '1989-Q2', '1989-Q3',
       '1989-Q4', '1990-Q1', '1990-Q2', '1990-Q3', '1990-Q4', '1991-Q1',
       '1991-Q2', '1991-Q3', '1991-Q4', '1992-Q1', '1992-Q2', '1992-Q3',
       '1992-Q4', '1993-Q1', '1993-Q2', '1993-Q3', '1993-Q4', '1994-Q1',
       '1994-Q2', '1994-Q3', '1994-Q4', '1995-Q1', '1995-Q2', '1995-Q3',
       '1995-Q4', '1996-Q1', '1996-Q2', '1996-Q3', '1996-Q4', '1997-Q1',
       '1997-Q2', '1997-Q3', '1997-Q4', '1998-Q1', '1998-Q2', '1998-Q3',
       '1998-Q4', '1999-Q1', '1999-Q2', '1999-Q3', '1999-Q4', '2000-Q1',
       '2000-Q2', '2000-Q3', '2000-Q4', '2001-Q1', '2001-Q2', '2001-Q3',
       '2001-Q4', '2002-Q1', '2002-Q2', '2002-Q3', '2002-Q4', '2003-Q1',
       '2003-Q2', '2003-Q3', '2003-Q4', '2004-Q1', '2004-Q2', '2004-Q3',
       '2004-Q4', '2005-Q1', '2005-Q2', '2005-Q3', '2005-Q4', '2006-Q1',
       '2006-Q2', '2006-Q3', '2006-Q4', '2007-Q1', '2007-Q2', '2007-Q3',
       '2007-Q4', '2008-Q1', '2008-Q2', '2008-Q3', '2008-Q4', '2009-Q1',
       '2009-Q2', '2009-Q3', '2009-Q4', '2010-Q1', '2010-Q2', '2010-Q3',
       '2010-Q4', '2011-Q1', '2011-Q2', '2011-Q3', '2011-Q4', '2012-Q1',
       '2012-Q2', '2012-Q3', '2012-Q4', '2013-Q1', '2013-Q2', '2013-Q3',
       '2013-Q4', '2014-Q1', '2014-Q2', '2014-Q3', '2014-Q4', '2015-Q1',
       '2015-Q2', '2015-Q3', '2015-Q4', '2016-Q1', '2016-Q2', '2016-Q3',
       '2016-Q4', '2017-Q1', '2017-Q2', '2017-Q3', '2017-Q4', '2018-Q1',
       '2018-Q2', '2018-Q3', '2018-Q4', '2019-Q1', '2019-Q2', '2019-Q3',
       '2019-Q4', '2020-Q1', '2020-Q2', '2020-Q3', '2020-Q4', '2021-Q1',
       '2021-Q2', '2021-Q3', '2021-Q4', '2022-Q1', '2022-Q2', '2022-Q3',
       '2022-Q4', '2023-Q1', '2023-Q2', '2023-Q3', '2023-Q4', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022', '2023', '1961', '1962', '1963', '1964', '1965',
       '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
       '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1960-Q2',
       '1960-Q3', '1960-Q4', '1961-Q1', '1948', '1949', '1950', '1951',
       '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959',
       '1960', '1955-Q2', '1955-Q3', '1955-Q4', '1956-Q1', '1956-Q2',
       '1956-Q3', '1956-Q4', '1957-Q1', '1957-Q2', '1957-Q3', '1957-Q4',
       '1958-Q1', '1958-Q2', '1958-Q3', '1958-Q4', '1959-Q1', '1959-Q2',
       '1959-Q3', '1959-Q4', '1960-Q1', '1947-Q2', '1947-Q3', '1947-Q4',
       '1948-Q1', '1948-Q2', '1948-Q3', '1948-Q4', '1949-Q1', '1949-Q2',
       '1949-Q3', '1949-Q4', '1950-Q1', '1950-Q2', '1950-Q3', '1950-Q4',
       '1951-Q1', '1951-Q2', '1951-Q3', '1951-Q4', '1952-Q1', '1952-Q2',
       '1952-Q3', '1952-Q4', '1953-Q1', '1953-Q2', '1953-Q3', '1953-Q4',
       '1954-Q1', '1954-Q2', '1954-Q3', '1954-Q4', '1955-Q1'],
      dtype=object)

In [ ]:
#leave only the trimesters values
real_gdp20 = real_gdp20[real_gdp20["FREQ"] == "Q"]
real_gdp20.TIME_PERIOD = real_gdp20.TIME_PERIOD.apply(lambda x: trimester_to_date(x))

C:\Users\vadim\AppData\Local\Temp\ipykernel_80\4237816090.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  real_gdp20.TIME_PERIOD = real_gdp20.TIME_PERIOD.apply(lambda x: trimester_to_date(x))

In [ ]:
real_gdp20

,FREQ,Zone de référence,Secteur institutionnel,Transaction,Activité économique,Unité de mesure,Transformation,TIME_PERIOD,OBS_VALUE
0,Q,OCDE Europe,Administrations publiques,Dépense de consommation finale,Non applicable,Changement en pourcentage,"Taux de croissance, période sur période",1961-06-01,0.644198
1,Q,OCDE Europe,Administrations publiques,Dépense de consommation finale,Non applicable,Changement en pourcentage,"Taux de croissance, période sur période",1961-09-01,1.725270
2,Q,OCDE Europe,Administrations publiques,Dépense de consommation finale,Non applicable,Changement en pourcentage,"Taux de croissance, période sur période",1961-12-01,1.222290
3,Q,OCDE Europe,Administrations publiques,Dépense de consommation finale,Non applicable,Changement en pourcentage,"Taux de croissance, période sur période",1962-03-01,1.613121
4,Q,OCDE Europe,Administrations publiques,Dépense de consommation finale,Non applicable,Changement en pourcentage,"Taux de croissance, période sur période",1962-06-01,1.618299
...,...,...,...,...,...,...,...,...,...
73362,Q,Arabie saoudite,Economie totale,Importations de biens et de services,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2022-12-01,3.605642
73363,Q,Arabie saoudite,Economie totale,Importations de biens et de services,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2023-03-01,17.915152
73364,Q,Arabie saoudite,Economie totale,Importations de biens et de services,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2023-06-01,4.430807
73365,Q,Arabie saoudite,Economie totale,Importations de biens et de services,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2023-09-01,11.683939
73366,Q,Arabie saoudite,Economie totale,Importations de biens et de services,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2023-12-01,5.875272

In [ ]:
real_gdp20.drop(columns=[ "FREQ"], inplace=True)

C:\Users\vadim\AppData\Local\Temp\ipykernel_80\2823076585.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  real_gdp20.drop(columns=[ "FREQ"], inplace=True)

In [ ]:
real_gdp20["Zone de référence"]

0            OCDE Europe
1            OCDE Europe
2            OCDE Europe
3            OCDE Europe
4            OCDE Europe
              ...
73362    Arabie saoudite
73363    Arabie saoudite
73364    Arabie saoudite
73365    Arabie saoudite
73366    Arabie saoudite
Name: Zone de référence, Length: 59214, dtype: object

In [ ]:
real_gdp20 = real_gdp20[real_gdp20["Secteur institutionnel"] == "Economie totale"]
real_gdp20 = real_gdp20[real_gdp20["Transaction"] == "Produit intérieur brut"]
real_gdp20 = real_gdp20[real_gdp20["Transformation"] == "Taux de croissance, sur 1 an"]

real_gdp20

,Zone de référence,Secteur institutionnel,Transaction,Activité économique,Unité de mesure,Transformation,TIME_PERIOD,OBS_VALUE
1177,OCDE Europe,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",1962-03-01,4.632182
1178,OCDE Europe,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",1962-06-01,4.970522
1179,OCDE Europe,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",1962-09-01,5.205130
1180,OCDE Europe,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",1962-12-01,4.674258
1181,OCDE Europe,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",1963-03-01,2.626482
...,...,...,...,...,...,...,...,...
69540,Arabie saoudite,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2022-12-01,6.272797
69541,Arabie saoudite,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2023-03-01,2.436058
69542,Arabie saoudite,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2023-06-01,1.225267
69543,Arabie saoudite,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2023-09-01,-2.272207
69544,Arabie saoudite,Economie totale,Produit intérieur brut,Non applicable,Changement en pourcentage,"Taux de croissance, sur 1 an",2023-12-01,-4.292435

In [ ]:
real_gdp20.to_csv("global/dataglobal/clean_realgdpg20.csv")

# Cleaning the rest of the data

## GDP

In [5]:
# Egypt there is only him
egp_gdp =pd.read_csv('data_manu/Gross Domestic Product_egypt.csv')

egp_gdp

,Indicator,Source,Unit,Quarter,Fiscal Year,Real Growth Rate
0,"Real GDP at market prices, annual % growth",Ministry of Planning and Economic Development,%,Q1,2024/2023,2.65
1,"Real GDP at market prices, annual % growth",Ministry of Planning and Economic Development,%,Q4,2023/2022,2.90
2,"Real GDP at market prices, annual % growth",Ministry of Planning and Economic Development,%,Q3,2023/2022,3.90
3,"Real GDP at market prices, annual % growth",Ministry of Planning and Economic Development,%,Q2,2023/2022,3.90
4,"Real GDP at market prices, annual % growth",Ministry of Planning and Economic Development,%,Q1,2023/2022,4.40
...,...,...,...,...,...,...
80,"Real GDP at market prices, annual % growth",Ministry of Planning and Economic Development,%,Q1,2004/2003,4.27
81,"Real GDP at market prices, annual % growth",Ministry of Planning and Economic Development,%,Q4,2003/2002,3.24
82,"Real GDP at market prices, annual % growth",Ministry of Planning and Economic Development,%,Q3,2003/2002,2.90
83,"Real GDP at market prices, annual % growth",Ministry of Planning and Economic Development,%,Q2,2003/2002,3.32
84,"Real GDP at market prices, annual % growth",Ministry of Planning and Economic Development,%,Q1,2003/2002,3.31

In [6]:
egp_gdp.drop(columns=["Source"], inplace= True)

In [84]:
# Nigeria there is only him
nig_gdp =pd.read_csv('data_manu/gdp_nigeria.csv', index_col=False)

nig_gdp

,year,Period,Agriculture,CropProduction,Livestock,Forestry,Fishing,Industry,MiningAndQuarrying,CrudePetroleumAndNaturalGas,...,RealEstate,ProfessionalScientificAndTechnicalServices,AdministrativeAndSupportServicesBusinessServices,PublicAdministration,Education,HumanHealthAndSocialServices,OtherServices,GDP at 2010 Constant Basic Prices,NetTaxesOnProducts,GDP at 2010 Constant Market Prices
0,1981,Annual,2364.37,1854.76,341.41,77.90,90.30,11753.40,5044.55,4977.42,...,1063.96,421.38,3.23,807.08,242.56,113.46,133.53,19549.56,198.97,19748.53
1,1982,Annual,2425.96,1897.08,361.12,73.91,93.86,10189.10,4507.93,4453.09,...,1074.05,423.67,3.25,825.92,248.22,117.88,134.60,18219.27,185.70,18404.96
2,1983,Annual,2409.08,1842.70,393.13,75.28,97.96,8255.76,4096.99,4052.98,...,1086.70,481.17,3.69,844.77,253.88,118.27,126.60,16228.81,165.58,16394.39
3,1984,Annual,2303.51,1759.12,399.69,76.69,68.01,8392.25,4602.27,4559.20,...,1086.93,518.36,3.98,863.61,259.55,117.82,103.73,16048.31,163.18,16211.49
4,1985,Annual,2731.06,2180.91,428.10,78.08,43.97,8768.30,4962.81,4918.27,...,1091.38,602.46,4.62,882.46,265.21,120.43,99.41,16997.52,172.56,17170.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,2022,Q4,5568.55,5072.56,344.31,52.87,98.81,3634.21,990.44,913.55,...,1301.22,701.92,3.99,446.76,438.46,138.94,688.81,21044.25,379.19,21423.44
93,2022,Annual,19091.07,17260.75,1247.72,196.36,386.24,14195.58,4391.42,4231.90,...,4213.07,2400.32,15.15,1495.13,1321.11,529.99,2287.16,74639.47,1129.48,75768.95
94,2023,Q1,3844.85,3457.23,221.13,44.68,121.80,3735.98,1111.85,1102.44,...,943.07,577.74,3.23,289.34,335.47,129.11,561.82,17750.06,244.22,17994.28
95,2023,Q2,4077.72,3661.39,275.52,52.24,88.56,3289.15,988.36,946.74,...,937.72,541.13,3.61,383.79,235.13,133.84,481.73,17719.34,221.72,17941.05
96,2023,Q3,5698.27,5270.72,306.48,49.13,71.95,3498.69,1096.17,1064.78,...,1084.24,625.17,4.35,397.17,322.35,137.67,424.56,19442.28,447.37,19889.65

In [85]:
nig_gdp = nig_gdp[["year", "Period", "GDP at 2010 Constant Basic Prices", "GDP at 2010 Constant Market Prices" ]]

In [86]:
nig_annual = nig_gdp[(nig_gdp["Period"] == "Annual") & (nig_gdp["year"] <= 2010)]
nig_quart = nig_gdp[(nig_gdp["Period"] != "Annual") & (nig_gdp["year"] >= 2010)]

In [87]:
nig_annual["GDP at 2010 Constant Basic Prices"] = nig_annual["GDP at 2010 Constant Basic Prices"].pct_change()

/var/folders/y4/p52lwmmn0js7rpg_fmpx261m0000gn/T/ipykernel_4987/3260067352.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nig_annual["GDP at 2010 Constant Basic Prices"] = nig_annual["GDP at 2010 Constant Basic Prices"].pct_change()

In [88]:
nig_annual = nig_annual[nig_annual["year"] != 1981]
nig_annual

,year,Period,GDP at 2010 Constant Basic Prices,GDP at 2010 Constant Market Prices
1,1982,Annual,-0.068047,18404.96
2,1983,Annual,-0.109250,16394.39
3,1984,Annual,-0.011122,16211.49
4,1985,Annual,0.059147,17170.08
5,1986,Annual,0.000603,17180.55
6,1987,Annual,0.032005,17730.34
7,1988,Annual,0.073350,19030.69
8,1989,Annual,0.019194,19395.96
9,1990,Annual,0.117783,21680.20
10,1991,Annual,0.003582,21757.90
11,1992,Annual,0.046310,22765.55
12,1993,Annual,-0.020368,22302.24
13,1994,Annual,-0.018173,21897.47
14,1995,Annual,-0.000755,21881.56
15,1996,Annual,0.041937,22799.69
16,1997,Annual,0.029344,23469.34
17,1998,Annual,0.025769,24075.15
18,1999,Annual,0.005784,24215.78
19,2000,Annual,0.050149,25430.42
20,2001,Annual,0.059162,26935.32
21,2002,Annual,0.153293,31064.27
22,2003,Annual,0.073495,33346.62
23,2004,Annual,0.092500,36431.37
24,2005,Annual,0.064371,38777.01
25,2006,Annual,0.060577,41126.68
26,2007,Annual,0.065896,43837.39
27,2008,Annual,0.067629,46802.76
28,2009,Annual,0.080362,50564.26
33,2010,Annual,0.091321,55469.35

In [89]:
nig_quart["GDP at 2010 Constant Basic Prices"] = nig_quart["GDP at 2010 Constant Basic Prices"].pct_change(periods=4)
nig_quart

/var/folders/y4/p52lwmmn0js7rpg_fmpx261m0000gn/T/ipykernel_4987/2506697877.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nig_quart["GDP at 2010 Constant Basic Prices"] = nig_quart["GDP at 2010 Constant Basic Prices"].pct_change(periods=4)

,year,Period,GDP at 2010 Constant Basic Prices,GDP at 2010 Constant Market Prices
29,2010,Q1,NaN,12790.38
30,2010,Q2,NaN,13141.50
31,2010,Q3,NaN,14516.59
32,2010,Q4,NaN,15020.88
34,2011,Q1,0.068919,13621.79
35,2011,Q2,0.063644,13917.31
36,2011,Q3,0.036015,15007.59
37,2011,Q4,0.046867,15633.66
39,2012,Q1,0.034555,14105.66
40,2012,Q2,0.041091,14504.45
41,2012,Q3,0.055724,15826.00
42,2012,Q4,0.036358,16233.94
44,2013,Q1,0.044548,14715.33
45,2013,Q2,0.054019,15262.31
46,2013,Q3,0.051705,16646.80
47,2013,Q4,0.067697,17318.41
49,2014,Q1,0.062142,15601.05
50,2014,Q2,0.065435,16249.37
51,2014,Q3,0.062279,17707.53
52,2014,Q4,0.059432,18419.51
54,2015,Q1,0.039636,16203.80
55,2015,Q2,0.023545,16623.05
56,2015,Q3,0.028440,18208.48
57,2015,Q4,0.021123,18745.36
59,2016,Q1,-0.006660,16087.23
60,2016,Q2,-0.014869,16349.29
61,2016,Q3,-0.023408,17775.97
62,2016,Q4,-0.017277,18439.94
64,2017,Q1,-0.009141,15919.66
65,2017,Q2,0.007163,16477.42
66,2017,Q3,0.011665,17988.95
67,2017,Q4,0.021112,18819.66
69,2018,Q1,0.018906,16234.95
70,2018,Q2,0.015047,16718.63
71,2018,Q3,0.018080,18305.13
72,2018,Q4,0.023840,19277.64
74,2019,Q1,0.020992,16569.73
75,2019,Q2,0.021165,17076.10
76,2019,Q3,0.022829,18697.32
77,2019,Q4,0.025538,19750.93
79,2020,Q1,0.018696,16893.27
80,2020,Q2,-0.061040,16044.51
81,2020,Q3,-0.036208,18109.60
82,2020,Q4,0.001149,19753.16
84,2021,Q1,0.005082,16962.51
85,2021,Q2,0.050116,16904.24
86,2021,Q3,0.040314,18845.92
87,2021,Q4,0.039842,20670.11
89,2022,Q1,0.031051,17573.27
90,2022,Q2,0.035413,17478.22
91,2022,Q3,0.022483,19294.01
92,2022,Q4,0.035181,21423.44
94,2023,Q1,0.023095,17994.28
95,2023,Q2,0.025076,17941.05
96,2023,Q3,0.025439,19889.65

In [90]:
nig_quart = nig_quart[nig_quart["year"] != 2010]
nig_quart

,year,Period,GDP at 2010 Constant Basic Prices,GDP at 2010 Constant Market Prices
34,2011,Q1,0.068919,13621.79
35,2011,Q2,0.063644,13917.31
36,2011,Q3,0.036015,15007.59
37,2011,Q4,0.046867,15633.66
39,2012,Q1,0.034555,14105.66
40,2012,Q2,0.041091,14504.45
41,2012,Q3,0.055724,15826.00
42,2012,Q4,0.036358,16233.94
44,2013,Q1,0.044548,14715.33
45,2013,Q2,0.054019,15262.31
46,2013,Q3,0.051705,16646.80
47,2013,Q4,0.067697,17318.41
49,2014,Q1,0.062142,15601.05
50,2014,Q2,0.065435,16249.37
51,2014,Q3,0.062279,17707.53
52,2014,Q4,0.059432,18419.51
54,2015,Q1,0.039636,16203.80
55,2015,Q2,0.023545,16623.05
56,2015,Q3,0.028440,18208.48
57,2015,Q4,0.021123,18745.36
59,2016,Q1,-0.006660,16087.23
60,2016,Q2,-0.014869,16349.29
61,2016,Q3,-0.023408,17775.97
62,2016,Q4,-0.017277,18439.94
64,2017,Q1,-0.009141,15919.66
65,2017,Q2,0.007163,16477.42
66,2017,Q3,0.011665,17988.95
67,2017,Q4,0.021112,18819.66
69,2018,Q1,0.018906,16234.95
70,2018,Q2,0.015047,16718.63
71,2018,Q3,0.018080,18305.13
72,2018,Q4,0.023840,19277.64
74,2019,Q1,0.020992,16569.73
75,2019,Q2,0.021165,17076.10
76,2019,Q3,0.022829,18697.32
77,2019,Q4,0.025538,19750.93
79,2020,Q1,0.018696,16893.27
80,2020,Q2,-0.061040,16044.51
81,2020,Q3,-0.036208,18109.60
82,2020,Q4,0.001149,19753.16
84,2021,Q1,0.005082,16962.51
85,2021,Q2,0.050116,16904.24
86,2021,Q3,0.040314,18845.92
87,2021,Q4,0.039842,20670.11
89,2022,Q1,0.031051,17573.27
90,2022,Q2,0.035413,17478.22
91,2022,Q3,0.022483,19294.01
92,2022,Q4,0.035181,21423.44
94,2023,Q1,0.023095,17994.28
95,2023,Q2,0.025076,17941.05
96,2023,Q3,0.025439,19889.65

In [92]:
nig_gdp = pd.concat([nig_annual, nig_quart])
nig_gdp.drop(columns=["GDP at 2010 Constant Market Prices"], inplace=True)
nig_gdp

    year  Period  GDP at 2010 Constant Basic Prices
1   1982  Annual                          -0.068047
2   1983  Annual                          -0.109250
3   1984  Annual                          -0.011122
4   1985  Annual                           0.059147
5   1986  Annual                           0.000603
..   ...     ...                                ...
91  2022      Q3                           0.022483
92  2022      Q4                           0.035181
94  2023      Q1                           0.023095
95  2023      Q2                           0.025076
96  2023      Q3                           0.025439

[80 rows x 3 columns]

In [ ]:
nig_gdp.to_csv("global/dataglobal/clean_nig_gdp.csv")
egp_gdp.to_csv("global/dataglobal/clean_gdp_gdp.csv")

## GFCF

BRAZIL GFCF

In [237]:
br_gfcf =pd.read_csv('data_manu/gfcf_brazil.csv')
br_gfcf["BRAGFCFQDSMEI"] = br_gfcf["BRAGFCFQDSMEI"].pct_change(periods=4)
br_gfcf = br_gfcf[br_gfcf["DATE"] >= "1997-01-01"]
br_gfcf.rename(columns={'DATE': 'TIME_PERIOD','BRAGFCFQDSMEI': 'OBS_VALUE'}, inplace=True)
br_gfcf['Country Name'] = "Brazil"
br_gfcf

    TIME_PERIOD  OBS_VALUE Country Name
4    1997-01-01   0.201934       Brazil
5    1997-04-01   0.169280       Brazil
6    1997-07-01   0.141308       Brazil
7    1997-10-01   0.070378       Brazil
8    1998-01-01   0.062148       Brazil
..          ...        ...          ...
106  2022-07-01   0.143550       Brazil
107  2022-10-01   0.128515       Brazil
108  2023-01-01   0.076173       Brazil
109  2023-04-01   0.014250       Brazil
110  2023-07-01  -0.038369       Brazil

[107 rows x 3 columns]

South Africa

In [238]:
sa_gfcf =pd.read_csv('data_manu/Real Gross Fixed Capital Formation for South Africa.csv')
sa_gfcf["NFIRSAXDCZAQ"] = sa_gfcf["NFIRSAXDCZAQ"].pct_change(periods=4)
sa_gfcf = sa_gfcf[sa_gfcf["DATE"] >= "1994-01-01"]
sa_gfcf.rename(columns={'DATE': 'TIME_PERIOD','NFIRSAXDCZAQ': 'OBS_VALUE'}, inplace=True)
sa_gfcf['Country Name'] = "South Africa"

sa_gfcf

    TIME_PERIOD  OBS_VALUE  Country Name
4    1994-01-01   0.064162  South Africa
5    1994-04-01   0.076441  South Africa
6    1994-07-01   0.087730  South Africa
7    1994-10-01   0.100505  South Africa
8    1995-01-01   0.114707  South Africa
..          ...        ...           ...
118  2022-07-01   0.052366  South Africa
119  2022-10-01   0.052126  South Africa
120  2023-01-01   0.041532  South Africa
121  2023-04-01   0.076739  South Africa
122  2023-07-01   0.035520  South Africa

[119 rows x 3 columns]

Indonesia

In [239]:
#needs to take the value for 2000 from the other big csv that I worked on down here
ids_gfcf =pd.read_csv('data_manu/Real Gross Fixed Capital Formation for Indonesia .csv')
ids_gfcf["NFIRSAXDCIDQ"] = ids_gfcf["NFIRSAXDCIDQ"].pct_change(periods=4)
ids_gfcf = ids_gfcf[ids_gfcf["DATE"] >= "2001-01-01"]
ids_gfcf.rename(columns={'DATE': 'TIME_PERIOD','NFIRSAXDCIDQ': 'OBS_VALUE'}, inplace=True)
ids_gfcf['Country Name'] = "Indonesia"

ids_gfcf

   TIME_PERIOD  OBS_VALUE Country Name
4   2001-01-01   0.187481    Indonesia
5   2001-04-01   0.111337    Indonesia
6   2001-07-01  -0.002662    Indonesia
7   2001-10-01  -0.019929    Indonesia
8   2002-01-01  -0.025528    Indonesia
..         ...        ...          ...
90  2022-07-01   0.041382    Indonesia
91  2022-10-01   0.036207    Indonesia
92  2023-01-01   0.033857    Indonesia
93  2023-04-01   0.044008    Indonesia
94  2023-07-01   0.049260    Indonesia

[91 rows x 3 columns]

India

In [240]:
#also needs to use the other csv to complete the values
india_gfcf =pd.read_csv('data_manu/Real Gross Fixed Capital Formation for India.csv')
india_gfcf = india_gfcf[india_gfcf["DATE"] >= "2005-01-01"]

india_gfcf["NFIRNSAXDCINQ"] = india_gfcf["NFIRNSAXDCINQ"].pct_change(periods=4)
india_gfcf.rename(columns={'DATE': 'TIME_PERIOD', 'NFIRNSAXDCINQ': 'OBS_VALUE'}, inplace=True)

india_gfcf = india_gfcf[india_gfcf["TIME_PERIOD"] >= "2006-01-01"]
india_gfcf['Country Name'] = "India"


india_gfcf

   TIME_PERIOD  OBS_VALUE Country Name
7   2006-01-01   0.166349        India
8   2006-04-01   0.125986        India
9   2006-07-01   0.113720        India
10  2006-10-01   0.149417        India
11  2007-01-01   0.158186        India
..         ...        ...          ...
73  2022-07-01   0.095874        India
74  2022-10-01   0.079909        India
75  2023-01-01   0.089200        India
76  2023-04-01   0.079563        India
77  2023-07-01   0.110412        India

[71 rows x 3 columns]

other african countries GFCF

In [241]:
df =pd.read_csv('data_manu/gfcf_costa_rica.csv')

df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.679070e+11,1.521550e+11,NaN,NaN
3,Africa Western and Central,AFW,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.271414e+11,4.268224e+11,4.010709e+11,4.362569e+11,4.133040e+11,4.047523e+11,3.966965e+11,4.181461e+11,4.535934e+11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.399812e+09,1.493155e+09,1.600791e+09,1.775868e+09,1.872179e+09,1.926234e+09,1.779088e+09,2.010874e+09,1.947104e+09,NaN
262,"Yemen, Rep.",YEM,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.856097e+10,4.318360e+09,3.337130e+09,4.707310e+09,1.326610e+10,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,1.011300e+11,1.012230e+11,9.887200e+10,1.165240e+11,1.394360e+11,1.637670e+11,...,7.855370e+11,7.961385e+11,7.807573e+11,7.648835e+11,7.555939e+11,7.424198e+11,6.338222e+11,6.378757e+11,6.684596e+11,NaN
264,Zambia,ZMB,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.044959e+10,2.158539e+10,2.169331e+10,2.266650e+10,2.354199e+10,2.270128e+10,1.856380e+10,2.093225e+10,2.559768e+10,NaN

In [242]:
df.dropna(how='all', inplace=True)

In [243]:
df.dropna(subset=['2022'], inplace=True)
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
4,Angola,AGO,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.271414e+11,4.268224e+11,4.010709e+11,4.362569e+11,4.133040e+11,4.047523e+11,3.966965e+11,4.181461e+11,4.535934e+11,NaN
5,Albania,ALB,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.218848e+11,3.331518e+11,3.412392e+11,3.618308e+11,3.703205e+11,3.571221e+11,3.521902e+11,4.198593e+11,4.472771e+11,NaN
9,Argentina,ARG,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,3.675533e+10,4.196232e+10,3.859293e+10,3.338595e+10,3.675533e+10,3.859293e+10,...,1.361896e+11,1.409052e+11,1.327631e+11,1.505275e+11,1.418787e+11,1.192469e+11,1.036661e+11,1.387090e+11,1.540476e+11,NaN
10,Armenia,ARM,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.157567e+11,9.386506e+11,8.316445e+11,9.123140e+11,9.561050e+11,9.981737e+11,9.832011e+11,1.215236e+12,1.324608e+12,NaN
13,Australia,AUS,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,4.612600e+10,4.874300e+10,4.960900e+10,5.271000e+10,5.764700e+10,6.196100e+10,...,5.146800e+11,4.956800e+11,4.776230e+11,4.774330e+11,5.005430e+11,4.942690e+11,4.827740e+11,5.017110e+11,5.371110e+11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,Vanuatu,VUT,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.597600e+10,2.347400e+10,1.767100e+10,2.291000e+10,2.642200e+10,2.544700e+10,3.854300e+10,4.580800e+10,4.522000e+10,NaN
260,Samoa,WSM,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.747570e+08,6.900029e+08,7.915997e+08,7.185184e+08,7.305085e+08,7.806875e+08,7.626989e+08,6.874915e+08,6.122274e+08,NaN
261,Kosovo,XKX,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.399812e+09,1.493155e+09,1.600791e+09,1.775868e+09,1.872179e+09,1.926234e+09,1.779088e+09,2.010874e+09,1.947104e+09,NaN
263,South Africa,ZAF,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,1.011300e+11,1.012230e+11,9.887200e+10,1.165240e+11,1.394360e+11,1.637670e+11,...,7.855370e+11,7.961385e+11,7.807573e+11,7.648835e+11,7.555939e+11,7.424198e+11,6.338222e+11,6.378757e+11,6.684596e+11,NaN
265,Zimbabwe,ZWE,Gross fixed capital formation (constant LCU),NE.GDI.FTOT.KN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.044959e+10,2.158539e+10,2.169331e+10,2.266650e+10,2.354199e+10,2.270128e+10,1.856380e+10,2.093225e+10,2.559768e+10,NaN

In [244]:
df.drop(columns=["Country Code", "Indicator Code"], inplace=True)

In [245]:
df["Country Name"].unique()

array(['Angola', 'Albania', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahamas, The', 'Belarus', 'Belize',
       'Bermuda', 'Bolivia', 'Brazil', 'Brunei Darussalam', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland', 'Chile',
       "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Colombia', 'Comoros', 'Costa Rica', 'Cuba', 'Cyprus', 'Czechia',
       'Germany', 'Djibouti', 'Denmark', 'Dominican Republic', 'Algeria',
       'Ecuador', 'Egypt, Arab Rep.', 'Spain', 'Estonia', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'United Kingdom', 'Georgia', 'Ghana',
       'Guinea', 'Gambia, The', 'Greece', 'Guatemala',
       'Hong Kong SAR, China', 'Honduras', 'Croatia', 'Haiti', 'Hungary',
       'Indonesia', 'India', 'Ireland', 'Iran, Islamic Rep.', 'Iceland',
       'Israel', 'Italy', 'Japan', 'Kazakhstan', 'Kenya', 'Cambodia',
       'Korea, Rep.', 'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg',
       'Latvia', 'Macao SAR, China', 'Morocco', 'Moldova', 'Madagascar',
       'Mexico', 'Marshall Islands', 'Mali', 'Malta', 'Montenegro',
       'Mongolia', 'Mauritania', 'Mauritius', 'Malaysia', 'Namibia',
       'Niger', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal',
       'New Zealand', 'Pakistan', 'Peru', 'Philippines', 'Poland',
       'Puerto Rico', 'Portugal', 'Paraguay', 'West Bank and Gaza',
       'Romania', 'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan',
       'Senegal', 'Singapore', 'Sierra Leone', 'El Salvador', 'Serbia',
       'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini', 'Seychelles',
       'Chad', 'Thailand', 'Timor-Leste', 'Tunisia', 'Turkiye',
       'Tanzania', 'Uganda', 'Ukraine', 'Uruguay', 'United States',
       'Uzbekistan', 'Viet Nam', 'Vanuatu', 'Samoa', 'Kosovo',
       'South Africa', 'Zimbabwe'], dtype=object)

In [246]:
not_usefull = ["Australia","Austria", "Belgium", "Bulgaria", "Brazil", "Canada", "Switzerland", "Spain", "Finland", "France", "United Kingdom",
                "Ireland", "Netherlands", "Poland", "Ukraine", "United States", "Italy", "Luxembourg", "Lithuania", "Croatia", "Hungary", 
                "Iceland", "Norway", "Portugal", "Romania", "New Zealand", "Albania", "Belarus", "Armenia", "Cyprus", "Germany", "Denmark",
                "Estonia", "Georgia", "Greece", "Czechia", "Latvia", "Malta", "Moldova", "Montenegro", "Serbia", "Slovakia", "Slovenia", "Sweden", 
                "Kosovo"]

df = df[~(df["Country Name"].isin(not_usefull))]

df["Country Name"].unique()

array(['Angola', 'Argentina', 'Burundi', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bahamas, The', 'Belize', 'Bermuda', 'Bolivia',
       'Brunei Darussalam', 'Botswana', 'Central African Republic',
       'Chile', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Costa Rica', 'Cuba',
       'Djibouti', 'Dominican Republic', 'Algeria', 'Ecuador',
       'Egypt, Arab Rep.', 'Ethiopia', 'Gabon', 'Ghana', 'Guinea',
       'Gambia, The', 'Guatemala', 'Hong Kong SAR, China', 'Honduras',
       'Haiti', 'Indonesia', 'India', 'Iran, Islamic Rep.', 'Israel',
       'Japan', 'Kazakhstan', 'Kenya', 'Cambodia', 'Korea, Rep.',
       'Sri Lanka', 'Lesotho', 'Macao SAR, China', 'Morocco',
       'Madagascar', 'Mexico', 'Marshall Islands', 'Mali', 'Mongolia',
       'Mauritania', 'Mauritius', 'Malaysia', 'Namibia', 'Niger',
       'Nicaragua', 'Nepal', 'Pakistan', 'Peru', 'Philippines',
       'Puerto Rico', 'Paraguay', 'West Bank and Gaza',
       'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Singapore', 'Sierra Leone', 'El Salvador', 'Slovak Republic',
       'Eswatini', 'Seychelles', 'Chad', 'Thailand', 'Timor-Leste',
       'Tunisia', 'Turkiye', 'Tanzania', 'Uganda', 'Uruguay',
       'Uzbekistan', 'Viet Nam', 'Vanuatu', 'Samoa', 'South Africa',
       'Zimbabwe'], dtype=object)

In [247]:
df = pd.melt(df, id_vars=['Country Name', 'Indicator Name'], var_name='TIME_PERIOD', value_name='OBS_VALUE')

In [248]:
df = df[df["TIME_PERIOD"] != "Unnamed: 67"]
df.sort_values(by="Country Name", inplace=True)
df

,Country Name,Indicator Name,TIME_PERIOD,OBS_VALUE
1864,Algeria,Gross fixed capital formation (constant LCU),1980,2.375757e+12
2508,Algeria,Gross fixed capital formation (constant LCU),1987,2.034234e+12
576,Algeria,Gross fixed capital formation (constant LCU),1966,NaN
2692,Algeria,Gross fixed capital formation (constant LCU),1989,2.313256e+12
4716,Algeria,Gross fixed capital formation (constant LCU),2011,4.657101e+12
...,...,...,...,...
2299,Zimbabwe,Gross fixed capital formation (constant LCU),1984,NaN
2391,Zimbabwe,Gross fixed capital formation (constant LCU),1985,NaN
2483,Zimbabwe,Gross fixed capital formation (constant LCU),1986,NaN
5519,Zimbabwe,Gross fixed capital formation (constant LCU),2019,2.270128e+10
5795,Zimbabwe,Gross fixed capital formation (constant LCU),2022,2.559768e+10

In [249]:
df = pd.concat([df, india_gfcf, br_gfcf, sa_gfcf, ids_gfcf])
df.sort_values(by="Country Name", inplace=True)
df

,Country Name,Indicator Name,TIME_PERIOD,OBS_VALUE
1864,Algeria,Gross fixed capital formation (constant LCU),1980,2.375757e+12
4256,Algeria,Gross fixed capital formation (constant LCU),2006,3.141478e+12
1772,Algeria,Gross fixed capital formation (constant LCU),1979,2.323378e+12
5544,Algeria,Gross fixed capital formation (constant LCU),2020,6.112614e+12
5084,Algeria,Gross fixed capital formation (constant LCU),2015,6.097571e+12
...,...,...,...,...
4507,Zimbabwe,Gross fixed capital formation (constant LCU),2008,NaN
4599,Zimbabwe,Gross fixed capital formation (constant LCU),2009,1.095074e+10
4967,Zimbabwe,Gross fixed capital formation (constant LCU),2013,1.814030e+10
4783,Zimbabwe,Gross fixed capital formation (constant LCU),2011,1.904408e+10
5519,Zimbabwe,Gross fixed capital formation (constant LCU),2019,2.270128e+10

In [250]:
df.to_csv("global/dataglobal/clean_gfcf_brenda.csv")