In [16]:
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
codes=pd.read_html('https://www.iban.com/country-codes')
cases=pd.read_csv('global\dataglobal\clean_weekly_cases_per_million.csv',parse_dates=True)
cases['date']=pd.to_datetime(cases['date'])

In [15]:
cases=cases[cases['date']]

,Unnamed: 0,date,World,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
0,0,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515,1515,2024-02-28,8.788,0.0,0.044,0.0,0.0,0.0,0.0,0.028,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.306
1516,1516,2024-02-29,8.788,0.0,0.044,0.0,0.0,0.0,0.0,0.028,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.306
1517,1517,2024-03-01,8.788,0.0,0.044,0.0,0.0,0.0,0.0,0.028,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.306
1518,1518,2024-03-02,8.788,0.0,0.044,0.0,0.0,0.0,0.0,0.028,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.306
1519,1519,2024-03-03,7.768,0.0,0.010,0.0,0.0,0.0,0.0,0.028,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.184

In [27]:
cases=cases[(cases['date']>=pd.Timestamp(year=2021,month=1,day=1)) & (cases['date']<pd.Timestamp(year=2023,month=1,day=1))]

In [31]:
cases=pd.DataFrame(cases.mean())

In [36]:
cases=cases.iloc[3:]

In [55]:
codes=pd.DataFrame(codes[0])[['Country','Alpha-3 code']]

In [69]:
codes=codes.set_index('Country')

In [71]:
df=cases.join(codes,how='inner')

In [73]:
df.columns=['Cases','Alpha3']

In [75]:
df.to_csv('global\dataglobal\clean_countrycodes.csv')