In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
def trimester_to_date(trimester):
    year, quarter = trimester.split('-')
    quarter=quarter[1]
    month = int(quarter) * 3
    return pd.Timestamp(year=int(year), month=month, day=1)

In [28]:
employment=pd.read_csv('data/global/employment.csv')

In [12]:
employment.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'FREQ',
       'Fréquence d'observation', 'ADJUSTMENT', 'Ajustement', 'REF_AREA',
       'Zone de référence', 'SECTOR', 'Secteur institutionnel',
       'COUNTERPART_SECTOR', 'Secteur institutionnel de contrepartie',
       'TRANSACTION', 'Transaction', 'INSTR_ASSET',
       'Instruments financiers et actifs non financiers', 'ACTIVITY',
       'Activité économique', 'EXPENDITURE', 'Dépense', 'UNIT_MEASURE',
       'Unité de mesure', 'PRICE_BASE', 'Type de prix', 'TRANSFORMATION',
       'Transformation', 'TABLE_IDENTIFIER', 'Identifiant de tableau',
       'TIME_PERIOD', 'Période temporelle', 'OBS_VALUE',
       'Valeur d'observation', 'REF_YEAR_PRICE', 'Prix ​​année de référence',
       'BASE_PER', 'Période de base', 'CONF_STATUS',
       'Statut de confidentialité', 'DECIMALS', 'Décimales', 'OBS_STATUS',
       'Statut d'observation', 'UNIT_MULT', 'Multiplicateur d'unité',
       'CURRENCY', 'Monnaie'],
      dtype='object')

In [13]:
employment=employment[employment['UNIT_MEASURE']=='H']
employment=employment[employment['Transaction']=='Emploi total']
employment=employment[employment['ADJUSTMENT']=='Y']

In [14]:
employment2=employment.drop(['STRUCTURE','STRUCTURE_ID','STRUCTURE_NAME','ACTION','FREQ',
       'ADJUSTMENT', 'Ajustement', 'REF_AREA','SECTOR','Secteur institutionnel','COUNTERPART_SECTOR','Secteur institutionnel de contrepartie',
       'TRANSACTION','INSTR_ASSET','Instruments financiers et actifs non financiers','ACTIVITY','EXPENDITURE','Dépense','UNIT_MEASURE','PRICE_BASE',
       'Type de prix','TRANSFORMATION','Transformation','TABLE_IDENTIFIER','Identifiant de tableau','Période temporelle','Valeur d\'observation',
       'REF_YEAR_PRICE','Prix ​​année de référence','BASE_PER','Période de base','CONF_STATUS','Statut de confidentialité','DECIMALS','Décimales',
       'OBS_STATUS','Statut d\'observation','UNIT_MULT','CURRENCY','Monnaie'],axis=1)

In [15]:
employment2.columns

Index(['Fréquence d'observation', 'Zone de référence', 'Transaction',
       'Activité économique', 'Unité de mesure', 'TIME_PERIOD', 'OBS_VALUE',
       'Multiplicateur d'unité'],
      dtype='object')

In [16]:
employment2.TIME_PERIOD=employment2.TIME_PERIOD.astype(str)
employment2=employment2[employment2['Fréquence d\'observation']=='Trimestrielle']
employment2.OBS_VALUE=employment2.OBS_VALUE.astype(float)

In [17]:
for country in employment2['Zone de référence'].unique():
    for activite in employment2['Activité économique'].unique():
        a=employment2[(employment2['Zone de référence']==country) & (employment2['Activité économique']==activite)]['OBS_VALUE'].pct_change()
        employment2.loc[(employment2['Zone de référence']==country) & (employment2['Activité économique']==activite),'OBS_VALUE']=a

employment2=employment2.dropna(subset='OBS_VALUE')
employment2.loc[:,'TIME_PERIOD']=employment2.TIME_PERIOD.apply(lambda x: trimester_to_date(x))

In [19]:
employment2.to_csv('global/dataglobal/clean_employment.csv')

In [43]:
compensation=pd.read_csv('global/employeecompensation.csv')

In [44]:
compensation=compensation[compensation['FREQ']=='Q']
compensation=compensation[compensation['ADJUSTMENT']=='Y']

In [48]:
compensation2=compensation.drop(['STRUCTURE','STRUCTURE_ID','ACTION','FREQ','Fréquence d\'observation','ADJUSTMENT','Ajustement',
                                 'REF_AREA','SECTOR','COUNTERPART_SECTOR','Secteur institutionnel de contrepartie','TRANSACTION','INSTR_ASSET','Instruments financiers et actifs non financiers',
                                 'ACTIVITY','EXPENDITURE','Dépense','UNIT_MEASURE','Unité de mesure','PRICE_BASE','Type de prix','TRANSFORMATION','Transformation',
                                 'TABLE_IDENTIFIER','Identifiant de tableau','Période temporelle','Valeur d\'observation','REF_YEAR_PRICE','Prix ​​année de référence',
                                 'BASE_PER','Période de base','CONF_STATUS','Statut de confidentialité','DECIMALS','Décimales','OBS_STATUS','Statut d\'observation',
                                 'UNIT_MULT','CURRENCY','Monnaie'],axis=1)

In [49]:
for country in compensation2['Zone de référence'].unique():
    for activite in compensation2[compensation2['Zone de référence']==country]['Activité économique'].unique():
        a=compensation2[(compensation2['Zone de référence']==country) & (compensation2['Activité économique']==activite)]['OBS_VALUE'].pct_change()
        compensation2.loc[(compensation2['Zone de référence']==country) & (compensation2['Activité économique']==activite),'OBS_VALUE']=a

compensation2=compensation2.dropna(subset='OBS_VALUE')
compensation2.loc[:,'TIME_PERIOD']=compensation2.TIME_PERIOD.apply(lambda x: trimester_to_date(x))

In [50]:
compensation2.to_csv('')

,STRUCTURE_NAME,Zone de référence,Secteur institutionnel,Transaction,Activité économique,TIME_PERIOD,OBS_VALUE,Multiplicateur d'unité
117,Rémunération trimestrielle des salariés par ac...,Espagne,Economie totale,Cotisations sociales à la charge des employeurs,Construction,1995-06-01 00:00:00,-0.001887,Millions
118,Rémunération trimestrielle des salariés par ac...,Espagne,Economie totale,Cotisations sociales à la charge des employeurs,Construction,1995-09-01 00:00:00,0.006616,Millions
119,Rémunération trimestrielle des salariés par ac...,Espagne,Economie totale,Cotisations sociales à la charge des employeurs,Construction,1995-12-01 00:00:00,0.000939,Millions
120,Rémunération trimestrielle des salariés par ac...,Espagne,Economie totale,Cotisations sociales à la charge des employeurs,Construction,1996-03-01 00:00:00,0.004690,Millions
121,Rémunération trimestrielle des salariés par ac...,Espagne,Economie totale,Cotisations sociales à la charge des employeurs,Construction,1996-06-01 00:00:00,0.000934,Millions
...,...,...,...,...,...,...,...,...
331049,Rémunération trimestrielle des salariés par ac...,Tchéquie,Economie totale,Cotisations sociales à la charge des employeurs,Activités de fabrication,2022-12-01 00:00:00,0.022210,Millions
331050,Rémunération trimestrielle des salariés par ac...,Tchéquie,Economie totale,Cotisations sociales à la charge des employeurs,Activités de fabrication,2023-03-01 00:00:00,0.027327,Millions
331051,Rémunération trimestrielle des salariés par ac...,Tchéquie,Economie totale,Cotisations sociales à la charge des employeurs,Activités de fabrication,2023-06-01 00:00:00,-0.001654,Millions
331052,Rémunération trimestrielle des salariés par ac...,Tchéquie,Economie totale,Cotisations sociales à la charge des employeurs,Activités de fabrication,2023-09-01 00:00:00,-0.012044,Millions
331053,Rémunération trimestrielle des salariés par ac...,Tchéquie,Economie totale,Cotisations sociales à la charge des employeurs,Activités de fabrication,2023-12-01 00:00:00,0.010121,Millions