In [1]:
import pandas as pd
import numpy as np

In [12]:
chomage=pd.read_excel('data/france/econ-gen-taux-cho-trim-2.xlsx')
pib=pd.read_excel('data/france/econ-gen-pib-composante-trim.xlsx')
inflation=pd.read_excel('data/france/econ-gen-taux-inflation.xlsx')
dispincome=pd.read_excel('data/france/housholddispincomeadj.xlsx')

c:\Users\vadim\anaconda3\envs\machinelearning\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [14]:
chomage=chomage.transpose()
chomage.columns=chomage.iloc[0]
chomage=chomage.drop('Taux de chômage selon le sexe et l\'âge')
chomage=chomage.reset_index()
chomage=chomage.set_index('Sexe et âge')
chomage=chomage[['Hommes','Femmes ','Ensemble ']]
chomage.columns=['Hommes','Femmes','Ensemble']
chomage.index.names=['Date']

In [86]:
inflation.columns=inflation.iloc[2]
inflation=inflation.drop([0,1,2])

In [95]:
inflation.set_index('Année')

2                                                  Taux d'inflation
Année
2023                                                            4.9
2022                                                            5.2
2021                                                            1.6
2020                                                            0.5
2019                                                            1.1
2018                                                            1.8
2017                                                              1
2016                                                            0.2
2015                                                              0
2014                                                            0.5
2013                                                            0.9
2012                                                              2
2011                                                            2.1
2010                                                            1.5
2009                                                            0.1
2008                                                            2.8
2007                                                            1.5
2006                                                            1.7
2005                                                            1.7
2004                                                            2.1
2003                                                            2.1
2002                                                            1.9
2001                                                            1.6
2000                                                            1.7
1999                                                            0.5
1998                                                            0.6
1997                                                            1.2
1996                                                              2
1995                                                            1.8
1994                                                            1.6
1993                                                            2.1
1992                                                            2.4
1991                                                            3.2
Note : variation annuelle.                                      NaN
Lecture : en 2023, le taux d’inflation est de 4...              NaN
Champ : France hors Mayotte, ensemble des ménages.              NaN
Source : Insee, indices des prix à la consommat...              NaN