In [175]:
import pandas as pd

In [176]:
def trimester_to_date(trimester):
    year, quarter = trimester.split('-')
    quarter=quarter[1]
    month = int(quarter) * 3
    return pd.Timestamp(year=int(year), month=month, day=1)

In [177]:
egypt=pd.read_csv('global\dataglobal\clean_gdp_gdp.csv',index_col='Unnamed: 0')
nigeria=pd.read_csv('global\dataglobal\clean_nig_gdp.csv',index_col='Unnamed: 0')
gdp=pd.read_csv('global/dataglobal/clean_realgdp.csv',index_col='Unnamed: 0')
gdp20=pd.read_csv('global/dataglobal/clean_realgdpg20.csv',index_col='Unnamed: 0')

In [178]:
gdp20countries=[i for i in gdp20['Zone de référence'].unique() if i not in gdp['Zone de référence'].unique()]

In [179]:
gdp20=gdp20[gdp20['Zone de référence'].isin(gdp20countries)]

In [180]:
gdp=pd.concat([gdp,gdp20])

In [181]:
egypt['Fiscal Year']=egypt['Fiscal Year'].apply(lambda x: x[:4])
egypt['TIME_PERIOD']=egypt['Fiscal Year']+'-'+egypt['Quarter']
egypt['TIME_PERIOD']=egypt['TIME_PERIOD'].apply(lambda x: trimester_to_date(x))
egypt=egypt.drop(['Indicator','Unit','Quarter','Fiscal Year'],axis=1)
egypt[['Zone de référence','Secteur institutionnel','Transaction','Activité économique','Unité de mesure','Transformation']]='Egypte','Economie totale','Produit intérieur brut','Non applicable','Changement en pourcentage','Taux de croissance, sur 1 an'
egypt=egypt.rename(columns={'Real Growth Rate':'OBS_VALUE'})

In [182]:
gdp=pd.concat([gdp,egypt])

In [183]:
nigeria

    year  Period  GDP at 2010 Constant Basic Prices
1   1982  Annual                          -0.068047
2   1983  Annual                          -0.109250
3   1984  Annual                          -0.011122
4   1985  Annual                           0.059147
5   1986  Annual                           0.000603
..   ...     ...                                ...
91  2022      Q3                           0.022483
92  2022      Q4                           0.035181
94  2023      Q1                           0.023095
95  2023      Q2                           0.025076
96  2023      Q3                           0.025439

[80 rows x 3 columns]

In [184]:
nigeria['Period']=nigeria['Period'].replace({'Annual':'Q1'})
nigeria['TIME_PERIOD']=nigeria['year'].astype(str)+'-'+nigeria['Period']
nigeria[['Zone de référence','Secteur institutionnel','Transaction','Activité économique','Unité de mesure','Transformation']]='Nigeria','Economie totale','Produit intérieur brut','Non applicable','Changement en pourcentage','Taux de croissance, sur 1 an'
nigeria=nigeria.drop(['year','Period'],axis=1)
nigeria=nigeria.rename(columns={'GDP at 2010 Constant Basic Prices':'OBS_VALUE'})
nigeria['OBS_VALUE']=nigeria['OBS_VALUE']*100
nigeria['TIME_PERIOD']=nigeria['TIME_PERIOD'].apply(lambda x: trimester_to_date(x))

In [187]:
gdp=pd.concat([gdp,nigeria])

In [188]:
gdp.to_csv('global\dataglobal\clean_gdp_recap.csv')